<div class="home-card-container">
    <div class="home-card-container__text-container">
        <div class="home-card-container__title">{{ configCard.title }}</div>
        <div class="home-card-container__text">
            {{ configCard.description }}
        </div>
        <button *ngIf="configCard.labelButton" class="button button-marvel">{{ configCard.labelButton }}</button>
    </div>
    <div class="home-card-container__image-container">
        <div class="home-card-container__panel-over-image"></div>
        <img [src]="configCard.img" alt="image" />
    </div>

</div>