@import '../../styles/typography';
@import '../../styles/colors';
.home-card-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 80%;
    margin: 0 auto;
    box-shadow: 2px 3px 10px 2px rgba(99, 118, 129, 0.3);
    border-radius: 6px;
    &__text-container {
        font-family: Roboto, Arial, sans-serif;
        padding: 30px;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    &__title {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 2rem;
        flex-grow: 2;
    }
    &__image-container {
        width: 50%;
        position: relative;
    }
    &__panel-over-image {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        transition: all 0.6s;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    &__panel-over-image:hover {
        background: rgba(0, 0, 0, .6);
    }
    &__image-container img {
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }
}

@media screen and (max-width: 992px) {
    .home-card-container {
        display: flex;
        flex-direction: column-reverse;
        &__text-container {
            width: 100%;
            padding: 20px;
        }
        &__image-container {
            width: 100%;
            height: 150px;
            cursor: pointer;
        }
        &__panel-over-image {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 0;
        }
        &__image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }
    }
}

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.button-marvel {
    font-family: Roboto, Arial, sans-serif;
    background-color: $red-marvel-color;
    border-color: $red-marvel-color;
    color: #fff;
}

.button-marvel:hover {
    filter: brightness(80%);
}