@import '../../styles/typography';
@import '../../styles/colors';
.main-card-creator-container {
    height: auto;
    box-shadow: 2px 3px 10px 2px rgba(99, 118, 129, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 20px;
    &__image-container {
        height: 100px;
        width: 100px;
        position: relative;
    }
    &__cover-image {
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
        transition: all .4s;
    }
    &__cover-image:hover {
        background: rgba(0, 0, 0, 0.5);
        border: 3px solid $red-marvel-color;
    }
    &__image-container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    &__panel-container {
        font-family: Roboto, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__name {
        font-weight: 600;
        font-size: 18px;
    }
    &__title {
        font-weight: 400;
        font-size: 16px;
        flex-grow: 1;
    }
}

.card-image-and-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.social-media {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end
}

.link-to {
    text-decoration: none;
    margin-right: 3px;
    color: black;
}

.icon {
    font-size: 22px;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-github {
    color: #161b22;
}