<div class="main-card-creator-container">
    <div class="card-image-and-text-container">
        <div class="main-card-creator-container__image-container">
            <a [href]="cardConfig.url" target="_blank" class="">
                <div class="main-card-creator-container__cover-image"></div>
            </a>
            <img [src]="cardConfig.img" alt="">
        </div>
        <div class="main-card-creator-container__panel-container">
            <div class="main-card-creator-container__name">{{ cardConfig.name }}</div>
            <div class="main-card-creator-container__title">{{ cardConfig.title }}</div>
            <div class="social-media">
                <a [href]="cardConfig.socialMediaLinkeIn" target="_blank" class="link-to">
                    <i class="fab fa-linkedin icon"></i>
                </a>
                <a [href]="cardConfig.socialMediaGitHub" target="_blank" class="link-to">
                    <i class="fab fa-github icon"></i>
                </a>
            </div>
        </div>
    </div>


</div>